doctype html
html
  head
    meta(charset='UTF-8')
    title GNDEC SPORTS
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous")
    script(src="https://unpkg.com/feather-icons")
    link(rel="icon" type="image/x-icon" href="/img/GNE_fill.png")
    link(rel='stylesheet' href='/css/admin.css')
  body
    header.navbar.navbar-dark.sticky-top.bg-dark.flex-md-nowrap.p-0.shadow
      a.navbar-brand.col-md-3.col-lg-2.me-0.px-3(href='/') GNDEC Sports
      button.navbar-toggler.position-absolute.d-md-none.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#sidebarMenu' aria-controls='sidebarMenu' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      input.form-control.form-control-dark.w-100(type="text" placeholder="" readonly="" disabled="" aria-label="Search" style="background-color: #212529;")
      .navbar-nav
        .nav-item.text-nowrap
          a.nav-link.px-3#logout(href='#') Logout
    .container-fluid
      .row
        nav#sidebarMenu.col-md-3.col-lg-2.d-md-block.bg-dark.sidebar.collapse
          .position-sticky.p-2.pt-3
            ul.nav.flex-column.fs-5
              li.nav-item
                a.nav-link.text-light(href='/admin')
                  span(data-feather="home" style="width: 1.6rem; height: 1.75rem")
                  |               Events
              li.nav-item
                a.nav-link.text-light(href='/admin/add-event')
                  span(data-feather="plus" style="width: 1.6rem; height: 1.75rem")
                  |               New Event
        main.col-md-9.ms-sm-auto.col-lg-10.p-md-5
          block view
  footer
    script
      | feather.replace();
    script(src="/js/logout.js")
    block footer
