extends sports_base.pug

block style
  | .page-header::before {
  |   background-image: url('/img/badminton.jpg');
  | }

block sport_title
  | Badminton

block sport_desc
  | Badminton is a dynamic racquet sport that combines speed, precision, and agility, captivating players and fans alike with its thrilling rallies and quick-fire action. This fast-paced sport is played both recreationally and competitively, indoors and outdoors, making it one of the most accessible racquet sports in the world.
