doctype html 
html
  head
    meta(charset='UTF-8')
    title GNDEC SPORTS
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/global.css')
    block head
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-transparent.fixed-top
      .container-fluid
        .navbar-spacer
        span.navbar-brand.mb-0.h1 GNDEC SPORTS
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='#') Home
          li.nav-item.dropdown
            a#sportsDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              | Sports
            .dropdown-menu(aria-labelledby='sportsDropdown')
              a.dropdown-item(href='#') Cricket
              a.dropdown-item(href='#') Football
          if session.user_id
            li.nav-item
              a.nav-link(href='#') Logout
          else
            li.nav-item
              a.nav-link(href='#') Sign In
        .navbar-spacer
    block content
  footer
    block footer
