extends sports_base.pug

block style
  | .page-header::before {
  |   background-image: url('/img/basketball2.jpeg');
  | }

block sport_title
  | Basketball

block sport_desc
  | Welcome to our basketball page, where speed and agility dominate the court. Dive into the dynamic realm of basketball, where every dribble, pass, and slam dunk can electrify the crowd. Our coaching team is passionate about nurturing basketball enthusiasts of all ages and skill levels, whether you're a beginner or a hoop veteran. We focus on developing your dribbling, shooting, and defensive abilities, while also honing your basketball IQ. Be a part of our basketball competitions, ranging from local leagues to national championships, and witness the excitement as our players showcase their skills on the hardwood.
