extends sports_base.pug
block maincontent
  .container
    .content
      h1.title Chess
      p.description
        | Chess is a classic two-player strategy board game that has captivated minds and hearts for centuries.
        | Played on an 8x8 grid, the game features a variety of distinct pieces, each with its unique abilities
        | and movements. The ultimate goal of chess is simple: checkmate your opponent&apos;s king, a state where the
        | king is under attack and cannot escape capture.
        | Chess is a game of deep strategy, requiring players to plan their moves several steps ahead while
        | anticipating their opponent&apos;s responses. It encourages critical thinking, tactical prowess, and the
        | development of a keen sense of foresight. Chess is often regarded as the &quot;game of kings&quot; due to its
        | historical prominence and its reputation for fostering intellectual growth.
        | The game&apos;s enduring appeal lies in its accessibility to players of all ages and skill levels, from
        | beginners learning the basics of movement to grandmasters mastering complex openings, middlegame
        | tactics, and endgame strategies. Chess has also adapted to the digital age, with online platforms and
        | computer programs allowing players from around the world to compete, learn, and enjoy this timeless
        | pastime
    .image
      img(src='/img/chess-playing-hand.jpeg' alt='Chess Image')
