extends sports_base.pug

block style
  | .page-header::before {
  |   background-image: url('/img/chess description.png');
  | }

block sport_title
  | Chess

block sport_desc
  | Welcome to our chess page, where strategy reigns supreme. Join us in celebrating the intricate world of chess, where every move is a step towards victory. Our coaching team is committed to nurturing chess enthusiasts of all levels, from beginners to seasoned players. We focus on honing critical thinking and tactical skills. Participate in our chess competitions, both inter-college and inter-varsity, and witness the brilliance of our players' strategies. Chess is more than a game; it's a journey that sharpens minds and fosters a lifelong love for intellectual challenges. Join our chess community, follow our journey, and immerse yourself in a world where strategy rules
