doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='initial-scale=1, width=device-width')
        link(rel='stylesheet', href='/css/global.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap')
    body
        div(class='cricket-parent')
        div(class='cricket')
         p(class='cricket1') CRICKET.