extends sports_base.pug

block style
  | .page-header::before {
  |   background-image: url('/img/cycling2.jpg');
  | }

block sport_title
  | Cycling

block sport_desc
  | Welcome to our cycling page, where endurance and technique reign supreme. Dive into the world of cycling, where every pedal stroke and tactical move can lead to victory. Our coaching team is dedicated to nurturing cycling enthusiasts of all levels, from beginners to experienced riders. We emphasize improving your cycling techniques, mastering various terrains, and enhancing your race strategy. Join us in our cycling events, whether it's a local race or an international tour, and witness the determination of our riders as they execute their race plans.
