extends sports_base.pug

block style
  | .page-header::before {
  |   background-image: url('/img/football.jpg');
  | }

block sport_title
  | Football

block sport_desc
  | Welcome to our football page, where passion and teamwork fuel the pitch. Immerse yourself in the exhilarating world of football, where every pass, goal, and save can turn the tide of the game. Our coaching team is dedicated to fostering football enthusiasts of all backgrounds, whether you're a novice or a seasoned player. We prioritize improving your dribbling, passing, and defensive skills, while also nurturing your tactical awareness. Join us in our football tournaments, from local derbies to international showdowns, and witness the magic as our players execute their strategies on the field.
