extends sports_base.pug

block style
  | .page-header::before {
  |   background-image: url('/img/hockey2.jpg');
  | }

block sport_title
  | Hockey

block sport_desc
  | Welcome to our hockey page, where speed and precision rule the ice. Explore the thrilling world of hockey, where every slapshot, pass, and save can decide the outcome of the match. Our coaching team is committed to developing hockey enthusiasts of all ages and skill levels, whether you're a newcomer or a seasoned veteran. We focus on enhancing your stickhandling, shooting, and defensive techniques, while also sharpening your strategic thinking. Participate in our hockey competitions, from local leagues to global championships, and witness the brilliance of our players' strategies on the rink.
