extends base.pug

block head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/index.css')
  script(src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js")
  title GNDEC Sports
block content
  .banner-container.container-fluid.d-flex.h-100.text-center.text-white
    .cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column.justify-content-center
      main.px-3
        h1.typed-text
          | Sports is 
          span#typed
  .container.col-xxl-8.px-4.py-5
    .row.flex-lg-row-reverse.align-items-center.g-5.py-5
      .col-10.col-sm-8.col-lg-6
        img.sports-img.d-block.mx-lg-auto.img-fluid(src='/img/sportsmeet.jpeg' alt='Sports Meet 2023' width='700' height='500' loading='lazy')
      .col-lg-6
        h1.display-5.fw-bold.lh-1.mb-3 Sports
        p.lead
          | Established in 1956, our Sports Department embodies Guru Nanak Dev Ji's values and promotes a diverse, inclusive sports culture among students and staff. We inspire lifelong health by engaging our community in physical education and sports activities. Our mission is to prepare students for an ever-changing world, fostering confidence and responsibility for global betterment.
block footer
  script(src="/js/index.js")
