extends base.pug

block head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/index.css')
  title GNDEC Sports
block content
  .banner-container.container-fluid.d-flex.h-100.text-center.text-white.bg-dark
    .cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
      main.px-3
        h1 Cover your page.
        p.lead
          | Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.
        p.lead
          a.btn.btn-lg.btn-secondary.fw-bold.border-white.bg-white(href='#') Learn more
      footer.mt-auto.text-white-50
        p
          | Cover template for 
          a.text-white(href='https://getbootstrap.com/') Bootstrap
          | , by 
          a.text-white(href='https://twitter.com/mdo') @mdo
          | .
