doctype html 
html 
    head 
        title Innovision
    body
        header
         nav(class='navbar ')
         div(class='logo')
           a(href='/' class='under')
             h1(class='logo1') Gndec
         div(class='main')
          ul
            li
                a(href='' class='under') Home               
            li
                a(href='' class='under') About
            li
                a(href='/cricket' class='under') Services
            li
                a(href='' class='under') Contacts
         div(class='signup')
             button(class='log')
               a(href='/login' class='under')  Login
             button(class='reg')
               a(href='/register' class='under') Signup

