extends sports_base.pug

block style
  | .page-header::before {
  |   background-image: url('/img/Kabaddi_2.jpg');
  | }

block sport_title
  | Kabaddi

block sport_desc
  | Welcome to our kabaddi page, where strength and strategy combine in a thrilling sport. Immerse yourself in the captivating world of kabaddi, where every raid and tackle can sway the outcome of the match. Our coaching team is passionate about developing kabaddi enthusiasts of all backgrounds, whether you're a novice or a seasoned pro. We focus on building your physical strength, agility, and kabaddi IQ, while also honing your tactical acumen. Be a part of our kabaddi tournaments, from local championships to national competitions, and witness the intensity as our players employ their strategies on the kabaddi mat.
