extends sports_base.pug

block style
  | .page-header::before {
  |   background-image: url('/img/tennis-paris2.jpg');
  | }

block sport_title
  | Lawn Tennis

block sport_desc
  | Welcome to our tennis page, where precision and strategy rule the court. Explore the dynamic world of tennis, where every serve, volley, and rally can shape the outcome of the match. Our coaching team is committed to nurturing tennis enthusiasts of all backgrounds, whether you're picking up a racket for the first time or aiming to improve your game. We prioritize refining your tennis strokes, improving your footwork, and honing your tactical prowess. Join us in our tennis tournaments, from local club matches to Grand Slam events, and witness the finesse and determination of our players as they execute their strategies on the tennis court.
