nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
  .container
    .navbar-spacer
    span.navbar-brand.mb-0.h1(onclick="window.location = '/'") 
      img.me-2.d-inline-block.align-text-top(src="/img/GNE_fill.png" alt="" width="30" height="30")
      | GNDEC SPORTS
    button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarCont" aria-controls="navbarCont" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarCont
      ul.navbar-nav.ml-auto
        li.nav-item.mx-3
          a.nav-link(href='/') Home
        li.nav-item.dropdown.mx-3
          a#sportsDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            | Sports
          .dropdown-menu(aria-labelledby='sportsDropdown')
            a.dropdown-item(href='/sports/badminton') Badminton
            a.dropdown-item(href='/sports/basketball') Basketball
            a.dropdown-item(href='/sports/chess') Chess
            a.dropdown-item(href='/sports/cricket') Cricket
            a.dropdown-item(href='/sports/cycling') Cycling
            a.dropdown-item(href='/sports/football') Football
            a.dropdown-item(href='/sports/hockey') Hockey
            a.dropdown-item(href='/sports/kabaddi') Kabaddi
            a.dropdown-item(href='/sports/lawn-tennis') Lawn Tennis
            a.dropdown-item(href='/sports/swimming') Swimming
            a.dropdown-item(href='/sports/vollyball') Vollyball
        if session.user_id
          li.nav-item.mx-3
            a.nav-link#profile(href=`/profile/${session.user_id}`) Profile
          li.nav-item
            a.nav-link#logout(href='') Logout
        else
          li.nav-item.mx-3
            a.nav-link(href='/login') Sign In
