extends base.pug
block head
  title Sports Department Registration
  link(rel="stylesheet", href="/css/register.css")
block content
  .container.mb-5
    .py-5.text-center
      img.d-block.mx-auto.my-4(src='/img/GNE_hollow.png' alt='' width='132' height='120')
      h2 Registeration Form
      p.lead
        | Please complete this form to register for sports events. Kindly complete this form with utmost care and accuracy. Your information is crucial to us. Join us in embracing the world of sports at GNDEC with your registration.
    .row.g-5
      .col-md-7.col-lg-8.mx-auto
        h4.mb-3 Personal Details
        form#register-form(method='post')
          .row.g-3
            .col-12
              label.form-label(for='name')
                | Name 
              input#name.form-control(type='text', name='name', placeholder='', required='')
              .invalid-feedback.d-block
            .col-sm-6
              label.form-label(for='crn') CRN
              input#crn.form-control(type='text', name='crn', placeholder='', value='', required='')
              .invalid-feedback.d-block
            .col-sm-6
              label.form-label(for='urn') URN
              input#urn.form-control(type='text', name='urn', placeholder='', value='', required='')
              .invalid-feedback.d-block
            .col-12
              label.form-label(for='email')
                | College Email 
              input#email.form-control(type='email', name='email', placeholder='example123@gndec.ac.in', required='')
              .invalid-feedback.d-block
            .col-md-5
              label.form-label(for='branch') Branch
              select#branch.form-select(name='branch', required='')
                option(value='') Choose...
                option Btech(CSE)
                option Btech(IT)
                option Btech(ECE)
                option Btech(EE)
                option Btech(CE)
                option Btech(ME)
                option BBA
                option BCA
                option BArch
              .invalid-feedback.d-block
            .col-md-4
              label.form-label(for='year') Year
              select#year.form-select(name='year', required='')
                option(value='') Choose...
                option 1
                option 2
                option 3
                option 4
            .col-md-3
              label.form-label(for='gender') Gender
              select#section.form-select(name='gender', required='')
                option(value='') Choose...
                option M
                option F
            .col-sm-6
              label.form-label(for='password') Password
              input#password.form-control(type='password', name='password', placeholder='', value='', required='')
              .invalid-feedback.d-block
            .col-sm-6
              label.form-label(for='passwordConfrim') Confirm Password
              input#passwordConfirm.form-control(type='password', name='passwordConfirm', placeholder='', value='', required='')
              .invalid-feedback.d-block
            .col-12
              label.form-label(for='bio') Bio 
                i.text-muted (optional)
              textarea#bio.form-control(name='bio', rows='4', placeholder='Tell us about yourself...')
            .my-3
              mixin checkboxOption(id, label)
                .form-check
                  input.form-check-input(type='checkbox', name='sports', value=id, id=id)
                  label.form-check-label(for=id)= label
              label(for='sports') Choose preferred sports:
              .invalid-feedback.d-block#sports-error
              +checkboxOption('badminton', 'Badminton')
              +checkboxOption('basketball', 'Basketball')
              +checkboxOption('chess', 'Chess')
              +checkboxOption('cricket', 'Cricket')
              +checkboxOption('cycling', 'Cycling')
              +checkboxOption('football', 'Football')
              +checkboxOption('hockey', 'Hockey')
              +checkboxOption('kabaddi', 'Kabaddi')
              +checkboxOption('lawn-tennis', 'Lawn Tennis')
              +checkboxOption('swimming', 'Swimming')
              +checkboxOption('volleyball', 'Volleyball')
            hr.my-4
            button.w-100.btn.btn-primary.btn-lg(type='submit') Register
block footer
  script(src="/js/register.js")
