extends base.pug

block head
  title Chess
  link(rel='stylesheet' href='/css/sports_base.css')
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css")
  script(src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js")
  style
    block style
block content
  .page-header.d-flex.align-items-center.justify-content-center(style="background-image: url('/img/chess description.png')")
    .overlay
    .col-md-5.p-lg-5.mx-auto.my-5
      h1.display-4.text-light.fw-normal
        block sport_title
      p.lead.text-light.fw-normal
        block sport_desc
  include events_view.pug

block footer
  script(src="/js/events.js")
