extends base.pug
block head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Chess
  link(rel='stylesheet' href='/css/chess.css')
block content
  block maincontent
  .event-container
    h2.event-title Upcoming Chess Event
    p.event-date Date: October 15, 2023
    p.event-description Join us for an exciting chess tournament...
