
extends sports_base.pug
block maincontent
  .container
    .content
      h1.title Swimming
      p.description
        Swimming is a popular aquatic sport involving competitive races using various strokes like freestyle, breaststroke, backstroke, and butterfly. It offers numerous health benefits, including full-body workouts with low impact on joints, making it accessible to all ages and fitness levels. Swimming promotes cardiovascular fitness, strength, and mental well-being. It also requires discipline and mental resilience due to rigorous training and technique refinement. Beyond competition, swimming offers a sense of freedom in natural settings. Its rich history dates back to ancient civilizations, and it is a prominent feature in the Olympics. Overall, swimming combines physical fitness, mental strength, and a deep connection to water.
    .image
      img(src='/img/swimming bg.jpg' alt='Chess Image')
