extends sports_base.pug

block style
  | .page-header::before {
  |   background-image: url('/img/swimming.jpg');
  | }

block sport_title
  | Swimming

block sport_desc
  | Welcome to our swimming page, where skill and endurance dominate the pool. Dive into the world of swimming, where every stroke and turn can make the difference between victory and defeat. Our coaching team is dedicated to nurturing swimmers of all levels, from beginners learning to float to elite athletes refining their technique. We emphasize perfecting your swimming strokes, improving your endurance, and enhancing your race strategy. Join us in our swimming competitions, from local meets to international championships, and witness the sheer determination of our swimmers as they chase their goals in the water.
