extends sports_base.pug

block style
  | .page-header::before {
  |   background-image: url('/img/vb2.jpg');
  | }

block sport_title
  | Vollyball

block sport_desc
  | Welcome to our volleyball page, where teamwork and agility take center stage. Immerse yourself in the exciting world of volleyball, where every spike, block, and dig can turn the tide of the game. Our coaching team is passionate about developing volleyball enthusiasts of all ages and skill levels, whether you're a newcomer or an experienced player. We focus on refining your serving, passing, and net skills, while also enhancing your tactical awareness on the court. Be a part of our volleyball tournaments, from local leagues to national competitions, and witness the electrifying performances of our players as they showcase their skills on the court.
