/* Style the container for content */
.container {
  margin: 0px;
  margin-left: 8rem;
  margin-top: 8rem;
  display: flex;
  width: inherit;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Style the title */
.title {
    font-size: 36px;
    font-weight: bold;
    color: #0088FF;
}

/* Style the description */
.description {
    font-size: 18px;
  width: 100%;
}

/* Style the image container */
.image {
  margin-top: 20px;
  padding-left: 8rem;
}

.image img {
  width: 300%;
}

/* Style the event container */
.event-container {
    background-color: #0088FF;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    max-width: 600px;
}

/* Style the event title */
.event-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Style the event date */
.event-date {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Style the event description */
.event-description {
    font-size: 18px;
}

.events {
  margin-top: 8rem;
  margin-left: 8rem;
}
