:root {
  --bs-primary: #ff5733; /* Your custom primary color */
  --bs-secondary: #907bff; /* Your custom secondary color */
}

.nav-link {
  color: #fff !important;
}

.navbar-nav {
  margin-left: auto;
}

