body {
  height: 100vh;
}

.navbar {
  transition: background-color 0.6s ease;
}

.cover-container {
  height: inherit;
  max-width: 42em;
}

.banner-container {
  height: 100%;
  background-image: 
    linear-gradient(
          rgba(0, 0, 0, 0.8), 
          rgba(0, 0, 0, 0.4), 
          rgba(0, 0, 0, 0.2), 
          rgba(0, 0, 0, 0.4), 
          rgba(0, 0, 0, 0.8)
        ),
    url('/img/sports.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.typed-text {
  font-size: 56pt;
}

#typed {
  color: yellowgreen;
}
.bodyhead{
  text-align: center;
  font-size: 30pt;
  padding-top: 20pt;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}
.secondaryhead{
  font-size: 15pt;
  padding-top: 0pt;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: normal;
  color:#999;
  
}

.sports-img {
  border: 1px solid black;
  border-radius: 5px;
}

.card-img-top {
  height: 15rem;
  object-fit: cover;
}

.card {
  position: relative;
  cursor: pointer;
}

.card img {
  opacity: 1;
  transition: opacity 0.2s ease-in-out; 
}

.card:hover img {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.card-text-overlay {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.card:hover .card-text-overlay {
  display: block;
}

