body {
  height: 100vh;
}

.navbar {
  transition: background-color 0.6s ease;
}

.navbar-nav {
  margin-left: auto;
}

.cover-container {
  height: inherit;
  max-width: 42em;
}

.banner-container {
  height: 100%;
  background-image: 
    linear-gradient(
          rgba(0, 0, 0, 0.8), 
          rgba(0, 0, 0, 0.4), 
          rgba(0, 0, 0, 0.2), 
          rgba(0, 0, 0, 0.4), 
          rgba(0, 0, 0, 0.8)
        ),
    url('/img/sports.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.typed-text {
  font-size: 56pt;
}

#typed {
  color: yellowgreen;
}
.bodyhead{
  text-align: center;
  font-size: 30pt;
  padding-top: 20pt;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}
.secondaryhead{
  font-size: 15pt;
  padding-top: 0pt;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: normal;
  color:#999;
  
}
